PyYAML==5.4.1
jupyter==1.0.0
matplotlib==3.3.3
boto3==1.16.57
ipynbname==2021.3.2
numpy==1.19.5
pandas==1.1.5
s3fs==0.4.2
sagemaker==2.33.0
jenkspy==0.2.0

# Master currently has features that solve several bugs and improves performance drastically. However, there is not
# an official release for it yet. The official release that will likely contain the changes we need will be 0.7.x
# gluonts==0.6.7
git+https://github.com/awslabs/gluon-ts@master#egg=gluonts

nbstripout==0.3.9

## Note: there are two packages that you should install manually

# mxnet==1.7.* or mxnet-cu101==1.7.*
## Sagemaker's images come with the appropriate mxnet version (CPU or GPU based). Though if you are running this
## locally, be sure to install the version you machine is compatible with. Lastly, the version pinned here should be
## the same version found in train.py

# freqtrade
## freqtrade is purposely left out as it is needed for development and notebook execution, but not for training.
##  Amazon Sagemaker will use this requirements.txt to replicate our environment, which is a good thing, but the
##  Sagemaker docker image does not contain the necessary TA-Lib library. You can work around this with https://github.com/aws/amazon-sagemaker-examples/blob/master/advanced_functionality/pytorch_extending_our_containers/pytorch_extending_our_containers.ipynb
##  though that is currently outside the scope of this project (i.e. adds to much friction for not much value).
